<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <h1 id="welcome" class="lead">Welcome, {{vm.userObject.rank}} {{vm.userObject.last}}!</h1>
    <button ng-click="vm.soldierService.simple()">Add Soldier</button>
    <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Eval</th>
                    <th>ETS</th>
                    <th>APFT</th>
                    <th>Docs</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="soldier in vm.soldierRoster">
                    <td>{{soldier.rank}} {{soldier.last}}, {{soldier.first}}</td>
                    <td>{{soldier.eval}}</td>
                    <td>{{soldier.ets}}</td>
                    <td>{{soldier.apft}}</td>
                    <td ng-repeat="doc in vm.soldierRoster.$index.docs">{{doc}}</td>
                </tr>
            </tbody>
          </table>
</div>
