<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <table>
        <thead>
            <tr ng-hide="newSoldierShowHide">
                <th><button ng-click="newSoldierShowHide = true">Add Soldier</button>Name</th>
                <th>Eval</th>
                <th>ETS</th>
                <th>APFT</th>
            </tr>
            <tr ng-show="newSoldierShowHide">
                <th>
                    <button ng-click="vm.submitSoldierController(); newSoldierShowHide = false">Submit Soldier</button>
                    <button ng-click="newSoldierShowHide = false">Cancel</button>
                    <select ng-model="vm.newSoldierInfo.rank">
                        <option>PVT</option>
                        <option>PV2</option>
                        <option>PFC</option>
                        <option>SPC</option>
                        <option>CPL</option>
                        <option>SGT</option>
                        <option>SSG</option>
                        <option>SFC</option>
                    </select>
                    <input ng-model="vm.newSoldierInfo.last" placeholder="Last Name" type="text">
                    <input ng-model="vm.newSoldierInfo.first" placeholder="First Name" type="text">
                    <th ng-show="newSoldierShowHide"><input ng-model="vm.newSoldierInfo.ets" placeholder="ETS Date" type="text"></th>
                </th>
                <th><input ng-model="vm.newSoldierInfo.eval" placeholder="Eval Date" type="text"></th>
                <th>
                    <select ng-model="vm.newSoldierInfo.apft">
                        <option>Pass</option>
                        <option>Fail</option>
                    </select>
                </th>
            </tr>
        </thead>
        <tbody ng-repeat="soldier in vm.soldierRoster.list">
            <tr ng-click="vm.showHideTableData[$index].show = !vm.showHideTableData[$index].show" ng-mouseover="vm.soldierButtonsShowHide[$index].show = true" ng-mouseleave="vm.soldierButtonsShowHide[$index].show = false">
                <td>{{soldier.rank}} {{soldier.last}}, {{soldier.first}}</td>
                <!-- <td ng-hide=""><input value={{soldier.rank}} type="text"><input value={{soldier.last}} type="text"><input value={{soldier.first}} type="text"></td> -->
                <td>{{soldier.eval | date: short}}</td>
                <td>{{soldier.ets | date: short}}</td>
                <td>{{soldier.apft}}</td>
                <td ng-if="!vm.soldierButtonsShowHide[$index].show">Placeholder Text</td> <!-- This is making the delete and edit buttons easier to click -->
                <td ng-if="vm.soldierButtonsShowHide[$index].show" ng-click="vm.showHideTableData[$index].show = !vm.showHideTableData[$index].show">
                    <button>Edit</button>
                    <button ng-click="vm.removeSoldier(soldier)">Delete</button>
                </td>
            </tr>
            <tr ng-if="vm.showHideTableData[$index].show">
                <td>Document</td>
                <td>Doc Link</td>
                <td><button ng-click="vm.addSoldierDoc()">Add Doc</button></td>
            </tr>
            <tr ng-if="vm.showHideTableData[$index].show" ng-repeat="doc in soldier.docs">
                <td>{{doc.name}}</td>
                <td>{{doc.api_call}}</td>
                <td><button>Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
