<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <h1 id="welcome" class="lead">Welcome, {{vm.userObject.rank}} {{vm.userObject.last}}!</h1>

    
    <!-- <table>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Eval</th>
                    <th>ETS</th>
                    <th>APFT</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>PVT</td>
                    <td>Snuffy</td>
                    <td>2018May22</td>
                    <td>2019Dec21</td>
                    <td>Fail</td>
                </tr>
                <tr>
                    <td>SGT</td>
                    <td>Wheelhouse</td>
                    <td>2018May22</td>
                    <td>2019Dec21</td>
                    <td>Pass</td>
                </tr>
                <tr>
                    <td>CPL</td>
                    <td>Stewart</td>
                    <td>2018May22</td>
                    <td>2019Dec21</td>
                    <td>Fail</td>
                </tr>
            </tbody>
          </table> -->
</div>
